@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-start: #eaf5ec;
    --background-end: #4fb06463;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* if you want to use a different color scheme for dark mode, add them here */
    }
}

body {
    background: linear-gradient(to bottom, transparent, var(--background-end))
        var(--background-start);
}
